* {
    background-origin: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 1rem 0;

}

h2 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem 0;
}

p {
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 80%;

    margin: 2rem auto;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

body {
    background-color: hsl(218, 28%, 13%);
    background-blend-mode: screen;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
}

.navigation ul {
    display: flex;
}

.navigation li {
    margin: 0 2rem;
    list-style: none;
}

.intro {
    border: solid 10px red;

    width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

.intro img {
    width: 40%;
    max-width: 40%;
}

.intro button {
    width: 20rem;
    height: 2rem;
    margin: 0 0 2rem 0;
    padding: 2rem;
    border-radius: 25px;
    background-color: hsl(176, 68%, 64%);
    font-size: 1.5rem;
    line-height: 0;
}

.intro>* {
    text-align: center;
}

.features {
    border: solid 10px red;
    width: 80vw;
    max-width: 80vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
    grid-gap: 1rem;
    align-items: center;
    gap: 1rem;
    text-align: center;

}

.features div {
    width: 100%;
    max-width: 100%;


}

.features * {
    line-height: 2rem;
    margin: 1rem auto;
    text-align: center;
    border: red solid 1px;
}

.features img {
    width: 5rem;
}

@media only screen and (max-width:2155px) and (min-width:1350px) {
    .features {
        grid-template-columns: repeat(2, minmax(min(100%, 30rem), 1fr));

    }
}

.productive {
    border: red solid 1px;

    width: 80vw;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

}

.productive img {
    max-width: 70%;
}


.left {
    margin: 0 auto;
    width: 50%;
    max-width: 50%;
    text-align: right;
}

@media only screen and (max-width:1300px) {

    .productive {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .left {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .left img {
        max-width: 70%;
    }

    .right * {
        text-align: center;
        margin: 2rem auto;
    }


}

.right {
    width: 100%;
    max-width: 100%;
}

.right,
h1,
p,
a {
    margin: 2rem 0;
    text-align: left;
}

.right a {
    color: hsl(176, 68%, 64%);
    text-decoration: aqua underline;
    text-underline-offset: 1rem;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 80vw;
    max-width: 80vw;
    margin: 10rem auto 40rem;
}

.team {
    background-color: hsl(219, 30%, 18%);
    padding: 3rem;
}

.team-name-container {
    display: flex;
    align-items: center;

}

.team-name>* {
    margin-left: 2rem;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;

}

.name {
    margin-bottom: 1rem;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.profession {
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: gainsboro;
}

.team-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

}

.team-name-container img {
    width: 10rem;
    max-width: 10rem;
    height: 11rem;
    border-radius: 10rem;

}

@media only screen and (max-width:1350px) {
    .right {
        margin: 2rem auto;
    }

    .team-container {
        display: grid;
        grid-template: repeat(3, 1fr)/1fr;
        row-gap: 2rem;
        width: 80vw;
        max-width: 80vw;
        margin: 2rem auto;
    }

    .team-descr {
        margin: 2rem auto;
        text-align: left;
        padding: 0;
        min-width: 100%;
    }

    .team-name-container {
        margin: 0 auto;
    }



}

@media only screen and (max-width:600px) {


    .team-descr {
        text-align: center;
    }

    .team-name-container {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .team-name {
        margin: 0;
    }

    .team-name>* {
        text-align: center;
        margin: 0 auto;
        min-width: 100%;
    }

    .team-name-container img {
        margin: 0 auto 2rem;

    }

}


.newsletter {
    background-color: hsl(219, 30%, 18%);
    padding: 3rem;
    width: 50vw;
    margin: -20rem auto;
    position: relative;

}

.newsletter>* {
    text-align: center;
    margin: 3rem auto;

}

.newsletter p {
    font-size: 2rem;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 400;
}

input {
    width: 50%;
    max-width: 50%;
    height: 2rem;
    border-radius: 20rem;
    text-align: left;
    padding: 2rem;
    margin: 0 auto;
}

input::placeholder {
    text-align: left;
    font-size: 1.5rem;

}


.getstarted {
    width: 30%;
    max-width: 30%;
    height: 5.5rem;
    padding: 0;
    border-radius: 20rem;
    background-color: hsl(176, 68%, 64%);
    font-size: 1.5rem;
    margin-left: 3rem;
    font-weight: 700;

}

footer {
    background-color: hsl(216, 53%, 9%);

}

.footercontainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 40rem;
    text-align: left;
    align-items: center;
    width: 80vw;
    margin: 0 auto;

}

.footercontainer .left {
    text-align: left;
    margin: 0 3rem;
    width: 100%;

}

.footercontainer .middle {
    width: 100%;
    text-align: left;
}

.footercontainer .middle * {
    display: inline;
}


.footercontainer .third {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-between;
}

.leftcolumn {
    width: 100%;
    max-width: 100%;

}

.rightcolumn {
    width: 100%;
    max-width: 100%;

}

@media only screen and (max-width:1350px) {

    input {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }

    .getstarted {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .team-container {

        margin: 10rem auto 40rem;
    }

    .footercontainer {
        flex-direction: column;
        margin: 0 auto;
    }

}